.all-followers{
    width: 98% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.all-followers>.card-little{
    display: flex;
    flex-direction: column;
    border: 2px solid #FF7171;
    color: #FF7171;
    background-color:#F5C0C0;
    width: 92%;
    height: 26.2rem;
    border-radius: 20px;
    align-items: center;
}

.all-followers>.card-little>img{
    width: 100%;
    border-radius: 19px;

}

.all-followers>.card-little>h4{
    padding: 5px 10px;
}

.all-followers>.card-little>.link>.set-button{
    border: 2px solid #FF7171;
    border-radius: 4px;
    background-color: #F0E4D7;
    padding: 3px 4px;

}